@{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<body ng-init="welcomeAdmin()" ng-controller="FinalsController">
    <header class="header">
        <div class="navbar-fixed">
            <nav class="z-depth-4">
                <div class="nav-wrapper">
                    <a href="#" class="logo">
                        <img src="~/Content/img/white-logo.png" class="logo-img" />
                    </a>
                    <!-- Sidenav Trigger (Hamburger Icon) -->
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="@Url.Action("Dashboard", "Home")">Dashboard</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ManageUsers","Home")">Manage Users</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ManageBooks","Home")">Manage Books</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-trigger">Administrator</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a id="logout" href="@Url.Action("LoginPage", "Home")">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- Sidenav for Mobile -->
    <ul class="sidenav right-aligned" id="mobile-demo">
        <li>
            <a href="@Url.Action("Dashboard", "Home")">Dashboard</a>
        </li>
        <li>
            <a href="@Url.Action("ManageUsers", "Home")">Manage Users</a>
        </li>
        <li>
            <a href="@Url.Action("ManageBooks","Home")">Manage Books</a>
        </li>
        <li>
            <a href="#">Administrator</a>
        </li>
    </ul>

    <br style="margin-bottom: 30px;" />

    <section class="welcome">
        <div class="container bi-text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 id="dash-greeting">Welcome, Lewis</h1> <!-- Name should change in accordance to the stored name of admin in the table -->
                    <h2>The Current Date and Time is</h2>
                    <h2 id="date"></h2>
                </div>
            </div>
        </div>
    </section>

</body>
