@{
    Layout = "~/Views/Shared/_LoginPageLayout.cshtml";
    ViewBag.Title = "Login";
}

<body ng-app="FinalsApplication" ng-controller="FinalsController">
    <!--Navigation Bar-->
    <header class="header">
        <div class="navbar-fixed">
            <nav class="z-depth-4">
                <div class="nav-wrapper">
                    <a href="@Url.Action("Homepage", "Home")" class="logo">
                        <img src="~/Content/img/white-logo.png" class="logo-img" />
                    </a>
                    <!-- Sidenav Trigger (Hamburger Icon) -->
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="@Url.Action("Homepage", "Home")">Home</a></li>
                        <li><a href="@Url.Action("FindBook","Home")">Find A Book</a></li>
                        <li><a href="@Url.Action("RequestBook","Home")">Request A Book</a></li>
                        <li><a href="@Url.Action("RegisterPage", "Home")">Register</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- Sidenav for Mobile -->
    <ul class="sidenav right-aligned" id="mobile-demo">
        <li><a href="@Url.Action("Homepage", "Home")">Home</a></li>
        <li><a href="@Url.Action("FindBook", "Home")">Find A Book</a></li>
        <li><a href="@Url.Action("RequestBook","Home")">Request A Book</a></li>
        <li><a href="@Url.Action("LoginPage", "Home")">Login</a></li>
    </ul>

    <div class="container">
        <div class="form-box login">
            <form action="">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="email" id="uEmail" placeholder="Email" ng-model="userEmail" required>
                    <i class="material-icons">email</i>
                </div>
                <div class="input-box">
                    <input type="password" id="uPassword" placeholder="Password" ng-model="userPassword" required>
                    <i class="material-icons">lock</i>
                </div>
                <div class="forgot-link">
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="btn" ng-click="loginFunc()">Login</button>
                <p>Inkling 2024</p>

            </form>
        </div>

        <div class="form-box register">
            <form action="">
                <h1>Sign Up</h1>
                <div class="input-box">
                    <input type="text" id="fName" placeholder="First Name" ng-model="firstName" required>
                    <i class="material-icons">account_box</i>
                </div>
                <div class="input-box">
                    <input type="text" id="lName" placeholder="Last Name" ng-model="lastName" required>
                    <i class="material-icons">account_box</i>
                </div>
                <div class="input-box">
                    <input type="email" id="uEmail" placeholder="Email" ng-model="userEmail" required>
                    <i class="material-icons">email</i>
                </div>
                <div class="input-box">
                    <input type="password" id="uPassword" placeholder="Password" ng-model="userPassword" required>
                    <i class="material-icons">lock</i>
                </div>
                <button type="submit" class="btn" ng-click="submitFunc()">Register</button>
                <p>Inkling 2024</p>

            </form>
        </div>

        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <h1>Create New Account</h1>
                <p>Explore an endless library of stories waiting to be discovered. From timeless classics to fresh new reads</p>
                <button class="btn register-btn">Register</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Already a Member?</h1>
                <p>We’re glad to have you back. Log in to continue exploring your favorite books and discover new ones waiting for you.</p>
                <button class="btn login-btn">Login</button>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer bg-white">
        <div class="footer-container d-flex align-items-center justify-content-between">
            <!-- Logo Section -->
            <div class="footer-logo">
                <img src="~/Content/img/footer-logo.png" class="footer-img" alt="Footer Logo" />
            </div>

            <!-- Links Section -->
            <div class="footer-links">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="#">About Us</a></li>
                    <li class="list-inline-item"><a href="#">Terms & Conditions</a></li>
                    <li class="list-inline-item"><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright white-text">
            <p>© <span>2024</span> <strong class="px-1 sitename">Inkling</strong> <span>All Rights Reserved</span></p>
        </div>
    </footer>
</body>
