@{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}


<body ng-init="loadBooksData()" ng-controller="FinalsController">
    <header class="header">
        <div class="navbar-fixed">
            <nav class="z-depth-4">
                <div class="nav-wrapper">
                    <a href="#" class="logo">
                        <img src="~/Content/img/white-logo.png" class="logo-img" />
                    </a>
                    <!-- Sidenav Trigger (Hamburger Icon) -->
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="@Url.Action("Dashboard", "Home")">Dashboard</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ManageUsers","Home")">Manage Users</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ManageBooks","Home")">Manage Books</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-trigger">Administrator</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a id="changepass" href="#" onclick="openChangePasswordPopup()">Change Password</a>
                                </li>
                                <li>
                                    <a id="logout" href="@Url.Action("Homepage", "Home")">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- Sidenav for Mobile -->
    <ul class="sidenav right-aligned" id="mobile-demo">
        <li>
            <a href="@Url.Action("Dashboard", "Home")">Dashboard</a>
        </li>
        <li>
            <a href="@Url.Action("ManageUsers", "Home")">Manage Users</a>
        </li>
        <li>
            <a href="@Url.Action("ManageBooks","Home")">Manage Books</a>
        </li>
        <li>
            <a href="#">Administrator</a>
        </li>
    </ul>

    <br style="margin-bottom: 30px;" />

    <section>
        <!-- Main Content Section -->
        <h3>Books on Record</h3>
        <table id="books_tbl1" class="display">
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Book Title</th>
                    <th>Book Author</th>
                    <th>Book Genre</th>
                    <th>Published Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in bookData">
                    <td><b>{{book.bookID}}</b></td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.genreID}}</td>
                    <td>{{book.published_on | date: shortDate}}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <footer>
    </footer>
</body>