@{
    Layout = "~/Views/Shared/_RegisterPageLayout.cshtml";
    ViewBag.Title = "Register";
}

<body>
    <!--Navigation Bar-->
    <header class="header">
        <div class="navbar-fixed">
            <nav class="z-depth-4">
                <div class="nav-wrapper">
                    <a href="@Url.Action("Homepage", "Home")" class="logo">
                        <img src="~/Content/img/white-logo.png" class="logo-img" />
                    </a>
                    <!-- Sidenav Trigger (Hamburger Icon) -->
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="@Url.Action("Homepage", "Home")">Home</a></li>
                        <li><a href="@Url.Action("FindBook","Home")">Find A Book</a></li>
                        <li><a href="@Url.Action("RequestBook","Home")">Request A Book</a></li>
                        <li><a href="@Url.Action("LoginPage", "Home")">Login</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- Sidenav for Mobile -->
    <ul class="sidenav right-aligned" id="mobile-demo">
        <li><a href="@Url.Action("Homepage", "Home")">Home</a></li>
        <li><a href="@Url.Action("FindBook", "Home")">Find A Book</a></li>
        <li><a href="@Url.Action("RequestBook","Home")">Request A Book</a></li>
        <li><a href="@Url.Action("LoginPage", "Home")">Login</a></li>
    </ul>

    <main>
        <section class="register">
            <div class="row" style="margin-top: 50px;">
                <div class="register-container">
                    <div class="register-section">
                        <h1 class="register-title">Already a Member?</h1>
                        <p class="register-p">We're glad to have you back. Log in to continue exploring your favorite books and discover new ones waiting for you.</p>
                        <p class="register-p">
                            <a href="@Url.Action("LoginPage", "Home")">Login.</a>
                        </p>
                        <a href="#" class="waves-effect waves-light btn">Learn More</a>
                    </div>
                    <div class="signin-card">
                        <h2 class="signin-title">Sign Up</h2>
                        <div class="input-field">
                            <i class="material-icons prefix">account_box</i>
                            <input id="fName" type="text" class="validate" maxlength="30" pattern="[A-Za-z\s]+" ng-model="firstName" title="First Name" required>
                            <label for="fName" style="color: #ffffff;">First Name</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">account_box</i>
                            <input id="lName" type="text" class="validate" pattern="[A-Za-z]+" ng-model="lastName" title="Last Name" required>
                            <label for="lName" style="color: #ffffff;">Last Name</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix" style="color: #ffffff;">email</i>
                            <input id="uEmail" type="email" class="validate" ng-required="true" ng-model="userEmail" required>
                            <label for="uEmail" style="color: #ffffff;">Email</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            <input id="uPassword" type="password" class="validate" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ng-model="userPassword" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                            <label for="uPassword" style="color: #ffffff;">Password</label>
                        </div>
                        <a class="waves-effect waves-light btn-small" ng-click="submitFunc()">Register</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="page-footer bg-white">
        <div class="footer-container d-flex align-items-center justify-content-between">
            <!-- Logo Section -->
            <div class="footer-logo">
                <img src="~/Content/img/footer-logo.png" class="footer-img" alt="Footer Logo" />
            </div>

            <!-- Links Section -->
            <div class="footer-links">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="#">About Us</a></li>
                    <li class="list-inline-item"><a href="#">Terms & Conditions</a></li>
                    <li class="list-inline-item"><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright white-text">
            <p>© <span>2024</span> <strong class="px-1 sitename">Inkling</strong> <span>All Rights Reserved</span></p>
        </div>
    </footer>


</body>


