@{
    Layout = "~/Views/Shared/_RequestBookLayout.cshtml";
    ViewBag.Title = "Request a Book";
}
<body>
    <!--Navigation Bar-->
    <header class="header">
        <div class="navbar-fixed">
            <nav class="z-depth-4">
                <div class="nav-wrapper">
                    <a href="@Url.Action("Homepage", "Home")" class="logo">
                        <img src="~/Content/img/white-logo.png" class="logo-img" />
                    </a>
                    <!-- Sidenav Trigger (Hamburger Icon) -->
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="@Url.Action("Homepage", "Home")">Home</a></li>
                        <li><a href="@Url.Action("FindBook","Home")">Find A Book</a></li>
                        <li><a href="@Url.Action("RequestBook","Home")">Request A Book</a></li>
                        <li><a href="@Url.Action("LoginPage", "Home")">Login</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- Sidenav for Mobile -->
    <ul class="sidenav right-aligned" id="mobile-demo">
        <li><a href="@Url.Action("Homepage", "Home")">Home</a></li>
        <li><a href="@Url.Action("FindBook", "Home")">Find A Book</a></li>
        <li><a href="@Url.Action("RequestBook","Home")">Request A Book</a></li>
        <li><a href="@Url.Action("LoginPage", "Home")">Login</a></li>
    </ul>

    <!--Form Content-->

    <main>
        <section class="request">
            <div class="row">
                <h1 class="request-title">Let Us Bring the Next Chapter to You – Book Requests Made Easy!</h1>
                <div class="request-container">
                    <h2 class="bookinfo-title">Book Information</h2>
                    <div class="input-field">
                        <input id="bookTitle" type="text" class="validate" ng-required="true" ng-model="bookTitle" required>
                        <label for="bookTitle" style="color: black;">Title</label>
                    </div>
                    <div class="input-field">
                        <input id="bookAuthor" type="text" class="validate" ng-required="true" ng-model="bookAuthor" required>
                        <label for="bookAuthor" style="color: black;">Author</label>
                    </div>
                    <div class="input-field">
                        <input id="bookYear" type="number" class="validate" ng-required="true" ng-model="bookYear" required>
                        <label for="bookYear" style="color: black;">Year Published</label>
                    </div>
                    <a class="waves-effect waves-light btn-small" ng-click="requestFunc()">Submit Request</a>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="page-footer bg-white">
        <div class="footer-container d-flex align-items-center justify-content-between">
            <!-- Logo Section -->
            <div class="footer-logo">
                <img src="~/Content/img/footer-logo.png" class="footer-img" alt="Footer Logo" />
            </div>

            <!-- Links Section -->
            <div class="footer-links">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="@Url.Action("AboutUs","Home")">About Us</a></li>
                    <li class="list-inline-item"><a href="@Url.Action("Terms","Home")">Terms & Conditions</a></li>
                    <li class="list-inline-item"><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright white-text">
            <p>© <span>2024</span> <strong class="px-1 sitename">Inkling</strong> <span>All Rights Reserved</span></p>
        </div>
    </footer>
</body>